{{#each this}}
  <li>
    <img src='{{flags.svg}}' alt='{{name.official}}' width='20px' />
    <span>{{name.official}}</span>
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    {{#each languages}}
      <p>Languages: {{this}}</p>
    {{/each}}
  </li>
{{/each}}
